* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    width: 100vw;
}
:root {
    --background : #ffffff;
    --light-yellow : #fff4d1;
    --normal-yellow : #FFD166;
    --harder-yellow : #e4b549;
    --red : #ef476f;
    --heart : #ff1a3b;
    --black : #333333;
    --blue : #0683d6;
}

/* Start header ... to 70 */

header {
    background-color: var(--normal-yellow);
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-box {
    width: 95%;
    height: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.title-and-logo {
    position: relative;
    width: 50%;
    height: 100%;
    right: 0;
    direction: rtl;
    display: flex;
    align-items: center;

    justify-content: flex-start;
}
.header-logo-box {
    display: flex;
    position: relative;
    width: 75px;
    height: 75px;
}
.header-logo {
    height: 75px;
    aspect-ratio: 1;
    position: absolute;
    transition: all 0.4s ;
}
.logo2:hover {
    transform: scale(1.01);
    filter: drop-shadow(var(--heart) 0px 0px 8px);
}
.logo3 {
    pointer-events: none;
}
.header-title {
    color: var(--black);
    font-size: 45px;
    margin-bottom: 15px;
    margin-right: 10px;
}
.header-items {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 0;
    display: flex;
    align-items: center;
}
.header-item {
    width: 30px;
    margin-left: 10px;
    aspect-ratio: 1;
    transition: all 0.1s;
}
.header-item:hover {
    transform: translateY(-2px);
}

/* End of header */
/* Start of Navigation bar ... to  */

nav {
    height: 50px;
    overflow: visible;
    background-color: var(--light-yellow);
    position: relative;
    display: flex;
    align-items: center;
}
.nav-items {
    position: absolute;
    right: 0;
    height: 100%;
    margin-right: 38px;
}
.nav-items-list {
    direction: rtl;
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-items-list li {
    margin-right: 22px;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-items-list li::before {
    content: " ";
    width: 100%;
    height: 2px;
    background-color: var(--red);
    position: absolute;
    transform: scaleX(0) translateY(22px);
    transition: all 0.1s;
}
.nav-items-list li:hover::before {
    transform: scaleX(1) translateY(22px);
}
.categories-list {
    transition: all 0.5s;
    position: absolute;
    top: 50px;
    list-style-type: none;
    right: 38px;
    overflow: hidden;
    transform: translateY(-200px);
    cursor: pointer;
    z-index: -2;
}
.categories-list li {
    transition: all 1s;
    pointer-events: none;
    height: 35px;
    width: 100px;
    background-color: var(--light-yellow);
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    padding-right: 10px;
    align-items: center;
}
.categories-li:hover + .categories-list li{
    transform: translateY(0px);
}
.search-box {
    border-radius: 15px;
    border: var(--black) 1px solid;
    background-color: #fff;
    position: absolute;
    height: 70%;
    display: flex;
    align-items: center;
    width: 300px;
    overflow: hidden;
    margin-left: 38px;
}
button.search {
    height: 100%;
    aspect-ratio: 1.5;
    outline: none;
    border: none;
    background-color: #ffffff;
    border-radius: 15px 0px 0px 15px;
}
button.search img:active {
    transform: scale(0.75);
}
button.search img {
    height: 100%;
    transition: all 0.1s;
    margin-left: 5px;
    cursor: pointer;
}
.search-input {
    outline: none;
    border: none;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 18px;
    direction: rtl;
    padding-right: 7px;
}

/* End of nav bar | start slideshow */

.slide-show-box {
    width: 100vw;
    aspect-ratio: 2.6;
    position: relative;
}
.slides-container {
    height: 90%;
    width: 90%;
    margin: 2% 5% 12px 5%;
    position: relative;
    border-radius: 5px;
    display: flex;
    gap: 5px;
}
.slide {
    height: 100%;
    pointer-events: auto;
    width: 10%;
    flex: 1;
    transition: all 1s;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}
.slide:hover {
    flex: 5;
}
.slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* End of slideshow | start best seller products part */

.best-seller-box {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -10px;
}
.best-seller-title {
    color: #333333;
}
.best-seller-products {
    width: 90%;
    border-radius: 10px;
    margin-top: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 0 50px 0;
    gap: 20px;
}
.product {
    cursor: pointer;
    width: 250px;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 0.67;
    margin-top: 20px;
    filter: drop-shadow(rgba(0, 0, 0, 0.281) 0px 2px 5px);
    background-color: #fff;
    transition: all 0.3s;
    object-fit: fill;
}
.product:hover {
    transform: translateY(-10px);
}
.product-thumbnail {
    height: 70%;
    object-fit: fill;
}
.product-content {
    background-color: #ffffff;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    border-top: #333333 1px solid;
    display: flex;
    justify-content: center;
}
.product-title {
    font-size: 20px;
    position: absolute;
    margin-top: 5px;
    color: var(--black);
}
p.product-price {
    position: absolute;
    font-size: 12px;
    color: var(--black);
    margin-top: 35px;
}
.product-price-span {
    color: #333333;
    /* text-decoration: line-through; */
    /* برای خط خوردن قیمت */
}
.product-buttons-box {
    position: absolute;
    height: 38%;
    width: 95%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}
.observe-product {
    background-color: var(--normal-yellow);
    height: 100%;
    width: 78%;
    position: absolute;
    right: 0;
    color: var(--black);
    font-size: 17px;
    cursor: pointer;
    border: none;
    border-radius: 0px 10px 10px 0;
    overflow: hidden;
    transition: all 0.2s;
}
.observe-product::before {
    content: "";
    width: 20px;
    height: 60px;
    transform: translateY(-20px) translateX(-65px) rotate(30deg);
    background-color: var(--light-yellow);
    position: absolute;
}
.observe-product:hover::before {
    transform: translateY(-20px) translateX(160px) rotate(30deg);
    transition: all 0.4s;
}
.observe-product:active {
    background-color: var(--harder-yellow);
    transform: translateY(1px);
}
.add-to-cart {
    width: 20%;
    height: auto;
    overflow: visi;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--normal-yellow);
    border: none;
    border-radius: 10px 0 0 10px;
}
.add-to-cart img {
    width: 80%;
    height: 80%;
}
/* end of Best seller | start footer */
footer {
    position: absolute;
    width: 100vw;
    height: 400px;
    background: var(--black);
    display: flex;
    justify-content: center;
    gap: 0;
    direction: rtl;
}
.footer-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.footer-title {
    font-size: 20px;
    margin-top: 65px;
    position: relative;
    text-align: center;
    font-weight: 600;
    color: var(--normal-yellow);
}
.footer-title::before {
    content: "";
    position: absolute;
    width: 80%;
    margin-right: 10%;
    height: 2px;
    background-color: var(--red);
    transform: translateY(40px);
}

/* footer 1st column */

.footer-info {
    color: #fff;
    word-spacing: 1px;
    padding: 0 18%;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    direction: rtl;
}
.social-media-box {
    width: 70%;
    margin-right: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.social-media-box a {
    width: 30px;
    height: 30px;
    text-decoration: none;
    display: flex;
    font-size: 2px;
    align-items: center;
    justify-content: center;
    background-color: #535353;
    transition: all 0.4s;
    aspect-ratio: 1 !important;
    border-radius: 100%;
}
.social-media-box a i {
    font-size: 25px;
}
i {
    font-family: "Font Awesome 6 Brands";
    color: var(--black);
    font-style: normal;
    font-size: 35px;
    transition: all 0.4s;
}
.social-media-box a:hover {
    transform: translateY(-5px);
}
.instagram:hover {
    color: #9d1ca8;
}
.twitter:hover {
    color: #1DA1F2;
}
.facebook:hover {
    color: #1877F2;
}
.telegram:hover {
    color: #0088cc;
}

/* Footer 2nd column */

.fast-links {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.fast-links a i {
    color: var(--red);
    font-size: 20px;
    
}
.fast-link {
    text-decoration: none;
    color: #fff;
    margin-top: 14px;
    font-weight: 600;
    transition: all 0.3s;
}
.fast-link:hover {
    color: var(--normal-yellow);
}
/* Footer 3rd column */
.contact-info i {
    color: var(--red);
    font-size: 18px;
}
.contact-info {
    width: 65%;
    transform: translateY(10px);
    margin-top: 14px;
}
.contact-info span {
    color: #fff;
    font-weight: 600;
    margin-right: 5px;
}
/* fifth column  */
.updating  {
    color: #fff;
    margin-top: 30px;
    font-weight: 600;
}
/* End footer |  fixingOverFLow */
html {
    overflow-x: hidden;
}
/* start responsiving */ 
@media (max-width:858px) and (min-width:732px){
    .social-media-box {
        margin-top: 10px;
    }
    .footer-info{
        padding: 0;
        padding-right: 25px;
    }
}
@media only screen and (max-width:732px){
    /* navbar */
    .nav-items-list {
        width: 0;
        overflow: hidden;
    }
    .search-box {
        width: 80%;
        margin: 0;
    }
    nav {
        justify-content: center;
    }
    /* footer responsiving */
    footer {
        flex-direction: column;
        height: 600px;
    }
    .footer-title {
        margin-top : 10px;
    }
    .footer-column {
        padding-right :40px;
        justify-content: center;
        align-items: flex-start;
    }
    div.footer-column:nth-child(1){
        transform: translateY(40px);
    }
    .social-media-box {
        width: 0;
        overflow: hidden;
    }
    .footer-info {
        margin: 0;
        padding: 0;
        margin-top: 20px;
        padding-left: 40px;
        text-align: right;
    }
    .fast-links {
        flex-direction: row;
        width: 100%;
    }
    .fast-link {
        margin-right: 4%;
    }
}