main {
    display: flex;
    width: 100vw;
    flex-direction: column;
    padding: 20px 10% 40px 10%;

}
.product-directory {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.product-directory p span:not(:nth-child(3)) {
    color: var(--red);
    cursor: pointer;
}
.product-details-box {
    background-color: #fff;
    width: 100%;
    height: 55vh;
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow(rgba(0, 0, 0, 0.219) 0px 10px 10px);
}
.product-details-thumbnail {
    overflow: hidden;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-details-thumbnail img {
    object-fit: cover;
    
}
.product-details {
    color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 50%;
    left: 0;
    height: 100%;
    direction: rtl; 
}
.product-name {
    margin: 35px 50px 0 0;
    font-size: 30px;
    font-weight: 800;
    color: var(--black);
}
.product-meta {
    width: 100%;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
}
.product-details-price {
    margin: 30px 50px 0 0; 
    font-size: 25px; 
    font-weight: 700;
    color: var(--red);
}
.product-description {
    margin: 10px 50px 0 30px;
    font-weight: 600;
}
.number-box {
    margin: 20px 50px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 10px;
    height: 30px;
    position: relative;
    width: 100%;
}
.number-box p {
    font-weight: 600;
}
.minus , .plus{
    height: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: var(--normal-yellow);
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0 2px 2px);
    transition: all 0.2s;
}
.minus:hover , .plus:hover {
    background-color: var(--harder-yellow);
}
.minus span , .plus span {
    display: flex;
    transform: translateY(-2px);
    justify-content: center;
}

/* Hide spinners in Chrome, Safari, Edge */
input.product-number::-webkit-inner-spin-button,
input.product-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spinners in Firefox */
input.product-number {
    -moz-appearance: textfield;
    appearance: textfield;
}
input.product-number {
    height: 30px;
    width: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 20px;
    font-language-override: normal;
}
.add-product-to-cart {
    margin: 30px 50px 30px 0;
    width: 80%;
    border: none;
    background-color: var(--red);
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    color: #fff ;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

/* product tabs */
.product-tabs {
    background-color: #fff;
    filter: drop-shadow(rgba(0, 0, 0, 0.219) 0 10px 10px);
    width: 100%;
    height: 400px;
    margin-top : 40px;
    overflow: hidden;
    border-radius: 5px;
}
.product-tabs-header {
    width: 100%;
    height: 80px;
    border-bottom: var(--gray) solid 1px;
    display: flex;
    direction: rtl;
    flex-direction: row;
    align-items: center;
}
.product-tabs-header button {
    width: 150px;
    height: 80%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: var(--gray);
    background-color: #fff;
    border: unset;
    transform: translateX(-20px);
}
.active-button::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: var(--red);
    top: 60px;
    right: 0;
}
.active-button {
    color: var(--red) !important;
}
.product-tabs-content {
    height: 320px;
    direction: rtl;
    position: relative;
    width: 100%;
    padding: 15px 25px;
}
.product-tabs-content > div{
    width: 100%;
    height: 100%;
    position: absolute;
    padding-left: 25px;
    background-color: #fff;
    opacity: 0;
    color: var(--black);
}
.active-tab {
    opacity: 100% !important;
}
.product-tabs-content div h3 {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}
.tabs-comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* scrollbar-width: 0; */
}
.your-comment , .your-comment form{
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}
.your-comment input {
    width: 600px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    outline: unset;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
    color: var(--black);
}
.your-comment button {
    width: 40px !important;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    height: 40px !important;
    background-color: var(--red);
    color: #fff;
    transition: all 0.2s;
}
.your-comment button:active {
    transform: scale(0.9);
}
.your-comment button i{
    font-size: 20px;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment {
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content : space-evenly;
    padding : 10px 10px;
    border-right: var(--red) 3px solid;
}
.comment h6{
    font-size: 15px;
}
.comment p {
    font-size: 20px;
}
/* RESPONSIVE */
@media only screen and (max-width : 860px){
    .your-comment input {
        width: 400px;
    }
    .add-product-to-cart {
        width: 60%;
        height: 40px;
        margin: 20px 20px;
        font-size: 16px;
        font-weight: 600;
    }
    .product-name , .product-details-price , .product-description , .number-box{
        margin-right: 25px;
    }
    .product-meta {
        padding-right: 25px;
    }
    .product-tabs-header button:nth-child(1) , .product-tabs-header button:nth-child(1)::before{
        width: 120px;
    }
    .product-tabs-header button , .product-tabs-header button::before{
        width: 100px;
        font-size: 14px;
        text-wrap: nowrap;
    }
}
@media only screen and (max-width : 600px){
    .product-details-box {
        flex-direction: column;
        height: 70vh;
    }
    .product-details-thumbnail{
        width: 100%;
        height: 50%;
    }
    .product-details {
        width: 100%;
        height: 50%;
    }
    .product-details {
        top: 50%;
    }
    .product-name , .product-meta , .product-description ,.product-details-price , .number-box , .add-product-to-cart{
        margin-top: 5px;
    }
    .your-comment input{
        width: 200px;
    }
    .product-tabs-header {
        position: relative;
    }
    .product-tabs button , .product-tabs button{
        width: 110px !important;
        font-size: 12px;
        margin-right: -10px;
    }
    .your-comment button {
        width: 40px !important;
        margin-right : 10px;
    }
}