@font-face {
    font-family: mefont;
    src: url("../fonts/Yekan.ttf");
}
* {
    padding: 0;
    user-select: none;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bg : rgb(18,18,18);
    --color1 : rgb(57,36,103);
    --color2 : rgb(93,53,135);
    --color3 : rgb(163,103,177);
    --color4 : rgb(255,209,227);
}
body {
    background-color: var(--bg);
}
/* start TOP PART (image bg) */
header {
    overflow: hidden;
    height: 600px;
    position: relative;
    background-image: url("../images/testbg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.menu {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 64px;
}
.navUl {
    display: flex;
    justify-content: space-around;
}
.navUl li{
    font-size: 25px;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    position: relative;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
}
.navUl li::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--color3);
    bottom: -5px;
    transition: all 0.2s;
    transform: scaleX(0);
}
.navUl li:hover::before {
    transform: scaleX(1);
}
div.logo {
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    top: 115px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
}
button.launch {
    padding: 10px 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 450px;
    background-color: var(--color3);
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 5px 20px var(--color3);
    transition: all 0.2s;
}
button.launch:hover {
    box-shadow: 0px 7px 25px var(--color4);
}
div.ipAndPortBox {
    position: absolute;
    color: var(--color4);
    left: 50%;
    transform: translate(-50%);
    top: 530px;
    height: 50px;
    width: 200px;
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
}
button.copyToClipBoard {
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
}
button.copyToClipBoard img{
    margin-top: 6px;
    height: 25px;
    cursor: pointer;
    width : 25px;
    transition: all 0.1s;
}
button.copyToClipBoard img:hover {
    filter: drop-shadow(0px 0px 5px var(--color4));
}
button.copyToClipBoard img:hover + div.ipAndPortBox {
    filter: drop-shadow(0px 0px 5px var(--color4));
}
img.logo {
    height: 100%;
}
.floating { 
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); } 
}
